_extensions/nature/csl/* linguist-vendored=true
_extensions/nature/*.bst linguist-vendored=true
_extensions/nature/sn-jnl.cls linguist-vendored=true
template.pdf linguist-generated=true
template.docx linguist-generated=true
template.html linguist-generated=true
